body {
background-image: url(https://www.metmuseum.org/-/media/images/blogs/collection-insights/2018/2018_06/new-look-at-vermeer/vermeers_final.jpg?la=en&h=924&w=1520&la=en&hash=C92492032074E724417584EE8980F69B);
background-repeat: no-repeat;
background-size: 90%;
background-origin: border-box;
align-items: center;
}

#pixel-board {
  line-height: 0;
}

#color-palette {
align-items: center;
}

#title {
  text-align: center;
  font-size: 90px;
  color: 
}

.center-pixel-board {
  margin-left: 748px;
}

.center-buttons {
  align-items: center;
  font-family: 'Finger Paint', cursive;
}

.color {
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  width: 50px;
}
.font-finger-paint {
  font-family: 'Finger Paint', cursive;
  color: beige;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.selected {
  border: 3px solid black;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}
